/* 
    Created on : Mar 24, 2015, 9:05:27 PM
    Author     : Andrew
*/

body
{
background:black;
color:lightgrey;
padding:0px;
margin:0px;
font-family: 'Open Sans', sans-serif;
}
header
{
width:100%
}
header h1
{
padding:0;
margin:0;
margin-left: 20px;
font-family: 'Revalia', cursive;
font-size:250%;
}
header span
{
margin-left:20px;
font-style:italic;
}
.mainContent
{
padding:20px 100px;
}
footer
{
position:fixed;
width:100%;
height:50px;
bottom:0;
text-align:center;
}
.rightside
{
float: right;
}
.userList
{
border: 1px solid lightgrey;
padding:20px;
width:400px;
}
.userAvatar
{
width:100px;
float:left;
margin-right: 20px;
}